body {
  margin: 0;
  background-color: #1e1e1e;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  width: 100%;
  max-width: 360px;
  margin: auto;
  box-sizing: border-box;
}

.content-section_theme_dark {
  background-color: black;
  color: white;
}

.content-section_theme_bright {
  background-color: yellow;
  color: black;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.header {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__logo-img {
  width: 78px;
  display: block;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
}

.header__menu-link {
  color: #fff;
  line-height: 19.2px;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.cover {
  padding: 7px 24px 30px 21px;
  min-height: 221px;
  background-image: url(../images/cover.svg);
  background-repeat: no-repeat;
  background-size: 95% auto;
  background-position: right center;
}

.cover__title {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "EB Garamond", serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 100%;
}

.intro {
  padding: 7px 20px 38px;
}

.intro__heading {
  display: flex;
  justify-content: space-between;
  color: #ccc;
  gap: 22px;
}

.intro__title {
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
}

.intro__date {
  white-space: nowrap;
  line-height: 120%;
}

.intro__main-text {
  color: #F5F5F5;
  line-height: 21.6px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}

.reasons {
  padding: 40px 20px 39px;
}

.content-section__subtitle .accent-span {
  font-family: "EB Garamond", serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 115%;
}

.content-section__introduction {
  font-size: 20px;
  line-height: 27px;
  margin: 32px 0;
}

.content-section__list {
  padding-left: 15px;
}

.content-section__list-item {
  line-height: 21.6px;
  margin-bottom: 16px;
}

.content-section__list-item:last-child {
  margin-bottom: 0;
}

.content-section__list-accent {
  font-weight: 700;
}

.how-to {
  padding: 40px 20px 60px;
  color: white;
}

.card-list {
  margin-top: 32px;
  list-style-type: none;
}

.card_theme_dark {
  background-color: #343434;
}

.card_theme_bright {
  background-color: #FEE42A;
  color: black;
}

.card {
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 32px;
}

.card:last-child {
  margin-bottom: 0;
}

.card__author-photo {
  width: 100px;
  height: 100px;
}

.card__author-name {
  margin-top: 8px;
  font-weight: 700;
  line-height: 135%;
}

.card__title {
  margin-top: 8px;
  font-family: "EB Garamond";
  font-size: 22px;
  font-weight: 500;
  line-height: 135%;
}

.card__text {
  margin-top: 8px;
  line-height: 21.6px;
}

.footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #FEE42A;
}

.footer__copy {
  line-height: 135%;
}

.footer__links {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

.footer__links a {
  text-decoration: none;
  color: white;
  line-height: 125%;
  font-size: 14px;
}