body {
    margin: 0;
    background-color: #1e1e1e;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul, 
ol,
blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    width: 360px;
    margin: 0 auto;
    box-sizing: border-box;
}

.content-section_theme_dark {
    background-color: black;
    color: white;
}

.content-section_theme_bright {
    background-color: yellow;
    color: black;
}